/* цвет фона вторичный 
#FFFFFF      #E5E5E5;     #F5F4FA*/
/* цвет основного текста #FFFFFF; */
/* текст h2 #212121;*/
/* футер адрес #FFFFFF */
/* контакт rgba(255, 255, 255, 0.6) */
/*вторичный текст #757575;*/
/*сексыя наша команджа #757575 */
/* акцент#2196F3; */

:root {
   --primary-text-color: #212121;
   --title-text-paragraph: #757575;
   --accent-color: #2196F3;
   --primary-bg-color:#E5E5E5;
   --logo-nav-color:#000000;
   --logo-footer-color:#FFFFFF;
   --address-footer-color:#F5F4FA;
   --h1-color:#2F303A;
}

html {
  box-sizing: border-box;
}
  *, *::before, *::after{
    box-sizing: inherit;  
  }
body {
  margin: 0;
  padding: 0;
  background-color: var(--logo-footer-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 14;
}
.container-nav {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid red; */
  padding-left: 15px;
  padding-right: 15px;

}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;

   /* outline: 2px solid red;  */
}
.header{
border: 1px solid #ECECEC;
background-color: #FFFFFF;
}
.h1,h2,h3{
  margin: 0;
  padding: 0;
}

 .section .no-podding {
  padding-top: 0;
  padding-bottom: 0;
 
} 
  /* padding-top: 94; *
/* .section {
margin-bottom: 0;
margin-top: 0%;
}  */

  /* logo */

 .logo{

  color: var(--logo-nav-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-size: normal;
  text-decoration: none;
  font-style: normal;
 }

.part-logo {
  color: var(--accent-color);
}
/* логин в футаре */
.logo-logo{
  margin-bottom: 20px;
  display: block;
  color: var(--logo-footer-color);
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height:1.19;
  font-size: normal;
  text-decoration: none;
  }
  /* футер адрес */
 .activ{
   font-style: normal;

 }
  .address{
   margin-bottom: 9px;
   color: var(--address-footer-color);
   font-family: Roboto,normal;
  font-size: 14px;
  line-height: 1.71;
   }
   .address>li:hove,  
   .address>li:focus {
    color: #2196F3;
   }

  .address{
   flex-direction: column;
   font-style: normal;
  } 
  .address>li:not(:last-child){
   display: block;
  }

  .section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
  }

  /* фоотер гд текст */
  .text-meta .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
  }
  
  .text-meta .link:hover,
  .text-meta .link:focus {
    color: #2196F3;

  }
  .text-meta>li:not(:last-child) {
   display: block;
   margin-bottom: 9px;
  }
  /* h2наша команда в ul */

.list-section { 

  margin: 0;
  padding: 0;
  list-style: none;
}



/* задачя организации */
.list-body{
  padding-top: 94px;
  display: flex;
  
  
}
.list-body .aside+ .aside{
  margin-left: 30px;
}
.list-body .aside{  
  width: 270px;
}
.aside::before{
  display:inline-block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
   background-color: #F5F4FA;
}


/* .site-nav .list{
 background-color: tomato;
} */
.site-nav .list+ .list{
  margin-left: 50px;
}

.site-nav .link{

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
   
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* сайт nav */
.site-nav {
  display: flex;
  margin-left: 93px;

}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
 } 

 /* ul contact  header*/
   .text .link{
  color:var(--title-text-paragraph);
    
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  text-decoration: none;
   }

 .text .link:hover, 
 .text .link:focus{
   color: var(--accent-color);
 }

 .text{
   display: flex;
   margin-left: auto;
   
 }
 .text .list + .list{
   margin-left: 50px;
 }
 


    ul {
    margin: 0;
    padding: 0;
    list-style: none
  } 
 
 /* задача организации */
.list-body p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-paragraph);

   font-weight: 400;
    font-size: 14px;
    line-height: 1.7; 
    }
.list-body h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* h3 наша команда */
.list-aside .list-title {
  margin-top: 0;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
  /* margin-bottom: 0px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.list-aside img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: o;
  margin-bottom: o;

}

.list-section p { 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
   color: var(--title-text-paragraph);
   /* margin-top: 10px; */
   font-size: 16px;
   line-height: 1.19;
  }
  .thumb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
.list-aside{
  background: var(--logo-footer-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-list {
  background-color:#F5F4FA;
}

  /* чем мы занимаемся  */
.list-content {
display: flex;
text-align: center;

}
.list-content .item+ .item{
  margin-left: 30px;
}
.list-section{
  display: flex;
  padding-bottom: 94px;
}
.list-section {
justify-content: space-between;
}
.list-content .item{
  display: block;
  max-width: 100%;
  height: auto;
}

/* hero */
.hero-title {
  
  /* text-transform: uppercase; */
  /* margin-top: 0; */
  margin: auto;
  margin-bottom: 30px;
  color: var(--address-footer-color);
   width: 696px;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero{
  text-align: center;
  background-color: var(--h1-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image:linear-gradient(to left,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(../images/Img\ hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
 
 /* .works{
   background-color: var(--logo-nav-color);
 } */


/* заголовки h2 */
.section-title{
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
}

   /* button */
  .button {
    display: inline-block;

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    color: var(--address-footer-color);
    background-color:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: none;
    
   } 
  .button:hover,
  .button:focus {
  background-color: #188CE8;
  }

/* ПОРТФОЛИО */

.l
/* кнопки ul */
.portfolio-title {
  display: none;
}
.title-text{
  background-color: var(--logo-footer-color);
  padding-bottom: 94px;
  padding-top: 94px;

}
.filter-text {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}

.filter-text .item:not(:last-child) {
  margin-right: 8px;
}




/* button */
.filter-text.btn-main .blockquote-button{
color:var(--primary-text-color);
background-color: var(--address-footer-color);

font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;

}
.filter-text .btn-main .blockquote-button:hover,
.filter-text.btn-main .blockquote-button:focus{
  color:var(--logo-footer-color);
  background-color: var(--accent-color);
}


/* h2 */
.headline{
  margin-top: 0;
  margin-bottom: 4px;
  color:var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  list-style: none;
}
/* p */
 .projects-title{
  color: var(--title-text-paragraph);
  margin-bottom:0;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.87;
  
}

.projects-list .link-title {
text-decoration: none;
list-style: none;
/* outline: 1px solid tomato; */
}
.projects-list{
list-style: none;

}

 .test-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}  
 /* .test-container{
 display: flex;
flex-wrap: wrap;
} */

  /* background-color: teal; */
  
  .projects-list{
  display: flex;
  flex-wrap: wrap; 
  /* background-color: tomato; */
} 
.projects-list-text {
width: calc((100% - 60px) / 3);
margin-right: 30px;
 margin-bottom: 30px;
/* width: 370px; */
} 
.projects-list-text:nth-child(3n) {
  margin-right: 0;
} 
 .projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-list-text .main{
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid  #eeeeee;
  border-right: 1px solid #eeeeee;
}  
 .blockquote-button{
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
 }
 .filter-text .btn-main:not(:last-child){
    margin-right: 8px;
  }
